@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
html,
body {
    transition: background-color 0.3s ease;
}

body {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 4rem;
}

.roboto-font {
    font-family: "Roboto", sans-serif;

}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
}

.burger-btn {
    background-color: rgb(240, 248, 255);
    height: 3rem;
    width: 3rem;
    border-radius: 0.3rem;
    border: none;
    box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
}

.burger-btn:hover {
    border: #5b9bfc;
}

.burger-btn:active {
    scale: 1.1;
}

.navbar-btn:hover {
    text-decoration: underline;
}

.nama {
    text-align: center;
}

@media (max-width: 600px) {
    .nama {
        display: flex;
        margin-left: 0.5rem;
    }
}

/* navbar end */

/* setting button */
.colorSelectorButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    text-decoration: none;
    bottom: 50px;
    right: 25px;
}

/* setting button end */

/* setting */
.colorSelectorButton-nama {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colorSelectorButton-nama input[type="color"] {
    border: none;
    height: 30px;
    cursor: pointer;
}

.setting-panel {
    background-color: aliceblue;
    color: #76a8f3;
}

.btn-close-color {
    background-color: none;
}

.background-color-body {
    background-color: aliceblue;
    color: black;
    border: solid aliceblue 2px;
}

.background-color-navbar {
    background-color: #2279fd;
    color: #ffffff;
}

.background-color-navbar a:hover {
    color: #ffffff;
}

.background-color-navbar button:hover {
    background-color: #ffffff;
}


.background-color {
    background-color: #76a8f3;
    color: #000000;
}

/* setting end */

.foto img {
    user-select: none;
    margin-top: 2rem;
}

/* projects */
.kartu-projects {
    display: flex;
    justify-content: center;
}

.kartu-projects {
    transition: 0.5s ease-in-out;
}

.kartu-projects:hover {
    scale: 1.05;
}
/* projects end*/

/* contact */
.contact-btn:hover {
    background-color: #2279fd;
    color: #ffffff;
}
/* contact end */